.video-item-large {
  .information {
    @apply z-10 relative p-7;
    max-width: 20rem;
  }
  
  .name {
    @apply text-lg leading-snug mb-8 mt-0 block;
    -webkit-line-clamp: 4;
  }
  
  .author {
    @apply text-white text-tiny mt-2;
  }
  
  .statistics {
    @apply mt-1;

    > div {
      @apply text-white text-opacity-90;
    }
  }

  .thumbnail {
    @apply relative flex items-center;
    z-index: 1;
    content: "";
    background: linear-gradient(
      90deg,
      rgba(#16151f, 0.6)  2%,
      rgba(#16151f, 0.5)  9%,
      rgba(#16151f, 0.4)  16%,
      rgba(#16151f, 0.3)  23%,
      rgba(#16151f, 0.2)  30%,
      rgba(#16151f, 0.14) 37%,
      rgba(#16151f, 0.1)  39%,
      rgba(#16151f, 0.0)  40%,
    );
  }

  .background-image {
    @apply object-center object-cover pointer-events-none;
  }
}