.video {
  @apply grid gap-8; 
  grid-template-areas: 
    "video__player   video__comments"
    "video__details  _______________"
  ;
  grid-template-columns: 2.5fr 1fr;
  // grid-auto-rows: min-content;
  
  &__player {
    grid-area: video__player;
  }
  &__comments {
    grid-area: video__comments;
  }
  &__details {
    grid-area: video__details;
  }
}
