.video-large {
  @apply relative flex items-center rounded-2xl overflow-hidden;
  content: "";
  min-height: 20rem;
  z-index: 1;
  background: linear-gradient(
    90deg,
    rgba(#16151f, 0.6)  2%,
    rgba(#16151f, 0.5)  9%,
    rgba(#16151f, 0.4)  16%,
    rgba(#16151f, 0.3)  23%,
    rgba(#16151f, 0.2)  30%,
    rgba(#16151f, 0.14) 37%,
    rgba(#16151f, 0.1)  39%,
    rgba(#16151f, 0.0)  40%,
  );

  

  &__thumbnail {
    @apply object-center object-cover pointer-events-none;
    height: 100%;
    width: 100%;
    z-index: 0;
  }


  &__information {
    @apply relative px-7 py-12;
    z-index: 10;
    max-width: 20rem;

    &-name {
      @apply text-lg leading-snug mb-8 mt-0 block;
      -webkit-line-clamp: 4;
    }

    &-channel-name {
      @apply text-white text-tiny mt-2;
    }
  }

  
}