@import '@/styles/mixins.scss';

.video {
  @apply flex w-full h-full relative overflow-hidden;
  z-index: 0;

  .thumbnail {
    @apply object-center object-cover pointer-events-none w-full h-full;
    z-index: -1;
  }

  .information {
    @apply flex flex-col justify-between grow bg-primary-900;
    z-index: 1;
    padding: 9rem 3.5rem 2.5rem 3.5rem;
    background: rgba( 14,13,32, .5);

    &__name {
      @apply text-4xl uppercase;
      font-weight: 800;

      @include cut-on-line(4);
    }

    &__description {
      @apply pt-6 text-xs;
      
      @include cut-on-line(4);
    }


    &__author {
      &-legend {
        @apply uppercase;
        letter-spacing: 1.3px;
        font-size: 0.7rem;
      }

      &-name {
        @apply text-xs;
      }
    }
  }
}