.menu-link {
  @apply flex items-center text-gray-500 font-medium relative;

  &__content {
    @apply mr-4 p-2 rounded-xl;
    background-color: #363448;

    &_image {
      @apply overflow-hidden rounded-full p-0 shadow flex items-center justify-center;
      margin-right: 1rem !important;
      background-color: none;
    }
  } 

  &__title {
    @apply font-normal;
  }



  &_active {
    @apply text-white;

    .menu-link__content {
      @apply bg-secondary shadow;
    }
  }
  

  &::before {
    @apply 
      h-full w-1 rounded-lg bg-secondary absolute -left-7 top-0 -translate-x-1
      transition-all duration-500;
    content: ''
  } // Make line behind the scene

  &:hover::before {
    @apply opacity-100 translate-x-0;
  } // Show line
}