.search {
  @apply relative w-7/12 rounded-xl transition-colors;
  border: 1px solid #292932;
  background-color: #292932;
  
  &:hover, &:active {
    @apply border-active;
  }


  &-field {
    @apply block relative;

    input {
      @apply rounded-xl py-1.5 px-4 block outline-none text-white;

      width: calc(100% - 1.8rem);
      background-color: inherit;
      border: 1px solid #292932;
      transition: box-shadow 0.4s ease;

      &::placeholder {
        @apply text-primary-500;
      }
    }

    svg {
      @apply absolute right-4 opacity-90 w-5 h-5;
      
      top: 50%;
      transform: translateY(-50%)
    }
  }
}

.search-result {
  @apply block-with-shadow rounded-lg animate-scaleIn flex flex-wrap absolute w-full z-20 p-5 mt-1;
  left: 0;
  background: #292932;

  > div {
    @apply mr-4 last:mr-0;
    width: 23%;
  }
}