.search {
  @apply relative w-7/12;

  &-field {
    @apply block relative;

    input {
      @apply rounded-lg py-2 px-4 w-full block outline-0 text-white shadow;
      background: #292932;;
      transition: box-shadow 0.4s ease;

      &::placeholder {
        @apply text-primary-500;
      }

      &:focus {
        @apply shadow-md;
      }
    }

    svg {
      @apply absolute right-4 opacity-90;
      
      top: 50%;
      transform: translateY(-50%)
    }
  }
}

.search-result {
  @apply block-with-shadow rounded-lg animate-scaleIn flex flex-wrap absolute w-full z-20 p-5 mt-3;
  left: 0;
  background: #292932;

  > div {
    @apply mr-4 last:mr-0;
    width: 23%;
  }
}